---
import Item from './Item.astro';
import ItemSmall from './ItemSmall.astro';

const doctors = [
    {
        id: 'doctor-1',
        name: 'Angel MR',
        speciality: 'Dentista',
        img: '/assets/img/dentist.png'
    },
    {
        id: 'doctor-2',
        name: 'Dr Roberto R.R.',
        speciality: 'Dentista',
        img: '/assets/img/doctor-1.jpg'
    },
    {
        id: 'doctor-3',
        name: 'Pedro J.J',
        speciality: 'Dentista',
        img: '/assets/img/doctor-2.jpg'
    },
    {
        id: 'doctor-4',
        name: 'Miguel OTZ',
        speciality: 'Dentista',
        img: '/assets/img/doctor-3.jpg'
    }
]

---


<div class="w-full h-full">
    <div class="carousel w-full h-full md:flex grid grid-cols-2 justify-items-center gap-[10px] relative">
        {
            doctors.map( (doctor) => (
                <Item id={doctor.id} href={doctor.img} name={doctor.name} speciality={doctor.speciality} />
            ))
        }
    </div>
    <!-- <div class="h-full flex flex-col gap-[10px] relative z-10 bg-white flex-grow p-[10px] pb-5">
        {
            doctors.map( (doctor) => (
                <ItemSmall id={doctor.id} href={doctor.img} name={doctor.name} />
            ))
        }
       
    </div> -->
</div>


<script>
import gsap from "gsap";

    const tl = gsap.timeline({ 
        repeat: -1, 
        yoyo: true,
        scrollTrigger: {
          trigger: ".carousel", // El elemento que activa el scroll
          start: "top 50%", // Comienza la animación cuando el top de la card está al 50% de la ventana
          toggleActions: "play none none reverse", // Qué hacer al entrar/salir de la vista
        }
    });

    tl.to("#doctor-1", {
        
        duration: 1,   // Duración de la animación en segundos
        scale: 1.1,    // Escala al 150% de su tamaño original
        yoyo: true,
        ease: "power2.out",  // Efecto de suavizado
        delay: 1,
        
    }) // Mueve al segundo slide
    .to("#doctor-2", { 
        duration: 1,   // Duración de la animación en segundos
        scale: 1.1,    // Escala al 150% de su tamaño original
        ease: "power2.out",  // Efecto de suavizado
        delay: 2 
    }) // Mueve al tercer slide
    .to("#doctor-3", { 
        duration: 1,   // Duración de la animación en segundos
        scale: 1.1,    // Escala al 150% de su tamaño original
        ease: "power2.out",  // Efecto de suavizado
        delay: 1
    }) // Mueve al cuarto slide
    .to("#doctor-4", { 
        duration: 1,   // Duración de la animación en segundos
        scale: 1.1,    // Escala al 150% de su tamaño original
        ease: "power2.out",  // Efecto de suavizado
        delay: 1
        }); // Vuelve al primer slide
</script>

<style>
    .item-focus {
        border: 4px;
        border-color: #06b6d4;
    }
</style>