---

const doctors = [
    {
        id: 'doctor-1',
        name: 'Angel MR',
        speciality: 'Dentista',
        img: '/assets/img/dentist.png'
    },
    {
        id: 'doctor-2',
        name: 'Dr Roberto R.R.',
        speciality: 'Dentista',
        img: '/assets/img/doctor-1.jpg'
    },
    {
        id: 'doctor-3',
        name: 'Pedro J.J',
        speciality: 'Dentista',
        img: '/assets/img/doctor-2.jpg'
    },
    {
        id: 'doctor-4',
        name: 'Miguel OTZ',
        speciality: 'Dentista',
        img: '/assets/img/doctor-3.jpg'
    }
]

---


<div class="w-full h-full flex relative overflow-hidden">
    <div class="carousel min-w-[362.5px] flex ">
        {
            doctors.map( (doctor) => (
                <div key={doctor.id} class="min-w-[362.5px] h-full flex flex-col">
                    <div class="w-full h-[504px] rounded-2xl overflow-hidden">
                        <img class="w-full h-full object-cover " src={doctor.img} alt={doctor.name} />
                    </div>
                    <div class="flex flex-col gap-1 mt-1">
                        <span class="text-2xl font-bold text-dark-text">{doctor.name}</span>
                        <span class="text-base">{doctor.speciality}</span>
                    </div>
                </div>
            ))
        }
    </div>
    <div class="h-full flex flex-col gap-[10px] relative z-10 bg-white flex-grow p-[10px] pb-5">
        {
            doctors.map( (doctor) => (
                <div key={doctor.id} class="w-40 h-32 rounded-2xl overflow-hidden">
                    <img class="w-full h-full object-cover " src={doctor.img} alt={doctor.name} />
                </div>
            ))
        }
    </div>
</div>


<script>
import gsap from "gsap";

    const tl = gsap.timeline({ 
        repeat: -1, 
        defaults: { 
            ease: "power1.inOut", 
            duration: 1.5 
        } });

    tl.to(".carousel", 
    { 
        xPercent: -100, 
        delay: 2, 
        onStart: (e) => {
            console.log(e, 'SEGUNDO');
            
        }
    }) // Mueve al segundo slide
    .to(".carousel", { xPercent: -200, delay: 2 }) // Mueve al tercer slide
    .to(".carousel", { xPercent: -300, delay: 2 }) // Mueve al cuarto slide
    .to(".carousel", { xPercent: 0, delay: 2 }); // Vuelve al primer slide
</script>